<% layout("layouts/boilerplate") %>

<div class="container mt-5 text-center">
  <h1 class="mb-4">Welcome to Major Project 🚀</h1>
  <p class="lead">Browse amazing listings or manage your own.</p>

  <a href="/listings" class="btn btn-primary btn-lg mt-3">View Listings</a>
</div>
